.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    margin-bottom: 20px; /* Adjust as needed */
}

.next-button {
    background-color:  bisque;
    color:saddlebrown ;
    padding: 10px 20px;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;

    margin-right: 1.5px;
    border-radius: 17%;
    border-color: rgb(250, 125, 75);
    border-style: solid;  

    font-family: Arial, sans-serif; /* Font family */
    text-shadow: 4px 4px 6px rgba(41, 39, 39, 0.498); /* Text shadow */
}

.next-button:hover {
    background-color:rgb(250, 150, 100);
}
